<page-router-outlet></page-router-outlet>
<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Home" [nsRouterLink]="['/home']"  class='sideLabel' nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}"></Label>
            <Label text="Map" [nsRouterLink]="['/map']" class='sideLabel' ></Label>
            <Label text="Login" [nsRouterLink]="['/login']" class='sideLabel' ></Label>

            <Label text="Friends" class="sideLabel"></Label>
            <Label text="Places" class="sideLabel"></Label>
            <Label text="Invite Friends" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Notifications" class="sideLabel"></Label>
            <Label text="Get Help" class="sideLabel"></Label>
            <Label text="Settings" class="sideLabel"></Label>
        </StackLayout>
    </StackLayout>
    <!--<StackLayout tkMainContent>
        <Label [text]="mainContentText" textWrap="true" class="drawerContentText"></Label>
        <Button text="OPEN DRAWER" (tap)=openDrawer()></Button>
    </StackLayout>-->
</RadSideDrawer>
