<ActionBar title="Wander">
  <ActionItem ios.position="left">
      <StackLayout>
          <Label (tap)="toggleMenu()" text="&#xf0c9;" class="fa"></Label>
      </StackLayout>
  </ActionItem>
  <ActionItem ios.position="right">
      <StackLayout>
          <Label (tap)="toggleSearch()" text="&#xf002;" class="fa"></Label>
      </StackLayout>
  </ActionItem>
</ActionBar>
<StackLayout>
    <MapView id="map" (mapReady)="onMapReady($event)"></MapView>
</StackLayout>
<StackLayout>
    <TextField hint="Search for Place" [(ngModel)]="address" (propertyChange)="autoComplete($event)"></TextField>
</StackLayout>
